footer {
	background-image: url("file:///C:/Users/Ryzen/Pictures/fondo-ring-boxeo-area-deportes-iluminados-pelear-deporte-peligroso_33099-1023.jpg");
	padding: 2px;
}



footer p{
	font-size: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: #C54648;
	text-align: justify-all;
	
}